#include ".config/xcolors/lowkey"

URxvt.font: xft:monospace:style=Regular:size=14
URxvt.boldFont: xft:monospace:style=Regular:size=14
URxvt.letterSpace: 0
URxvt.internalBorder: 16
URxvt*scrollBar: false

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96
