! ~/.Xresources

! st settings
st.termname: st-256color
st.font: Input:pixelsize=16
st.borderpx: 16
st.tabspaces: 4
st.xfps: 60
st.actionfpx: 60
st.bellvolume: 0
st.cwscale: 1.0
st.chscale: 1.0

! font settings
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! color scheme
#include ".config/xres/colors/gruv-mat-modified"

! vim: ft=xdefaults
